@{
	var currentController = ViewContext.ActionDescriptor.RouteValues["Controller"];
	var currentAction = ViewContext.ActionDescriptor.RouteValues["Action"];
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"] - M Zubair Securities Ltd.</title>

	<meta name="title" content="M Zubair Securities Ltd.">
	<meta name="description" content="">

	<!-- opengraph -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	@RenderSection("Styles", required: false)
</head>



<body>
	<!-- ========== Start preloader ========== -->
	<section class="preloader" style="display: none;">
		<img src='~/images/pre-loader.gif' class=''>
	</section>
	<!-- ========== End preloader ========== -->
	<!--============================
	=            header            =
	=============================-->
	<header class="sticky-top">
		
	</header>


	<!-- ----------------------------------------- -->
	<!--                  Content                  -->
	<!-- ----------------------------------------- -->


	<div class="container-fluid bd-layout">
		<section class="bd-main">
			<main>
				@RenderBody()
			</main>
		</section>
	</div>

	<!--============================
	=            footer            =
	=============================-->
	<footer>
		
	</footer>

	<!-- scripts -->

	<script type="text/javascript">
		
	</script>
	@RenderSection("Scripts", required: false)
</body>
</html>
