@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h3>Dashboard Overview</h3>

    <div class="row mt-3">
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6>Total Students</h6>
                    <h4>1,245</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6>Total Teachers</h6>
                    <h4>75</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6>Courses</h6>
                    <h4>32</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6>Pending Fees</h6>
                    <h4>$12,540</h4>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //alert("Hello");
        });
    </script>
}